{
	admin off
	auto_https disable_redirects

	pki {
		ca local {
			intermediate_lifetime 180d
		}
	}
}

https://{$IDENTITY_HOST:localhost}:8443 {
	tls {
		issuer internal {
			ca local
			lifetime 720h
		}
	}
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=0"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	@portal path /
	handle @portal {
		root * /srv/northlake-portal
		file_server
	}

	@energyhippo path /open-energyhippo
	handle @energyhippo {
		redir {$EEMSUITE_APPLICATION_HOME_URL:https://localdev.energyhippo.com/Hippo/} 302
	}

	@configuration path /configure /configure/*
	handle @configuration {
		reverse_proxy configuration:8081
	}

	handle {
		reverse_proxy keycloak:8080
	}
}
